body, html {
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.image-container {
    display: flex;
    justify-content: center;
}

#image {
    transform: scale(0.6);
}

.head {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
      background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(85%, #1279e8));
    background: -webkit-linear-gradient(left, #c70039, #1279e8 85%);
    background: -o-linear-gradient(left, #c70039, #1279e8 85%);
    background: linear-gradient(to right, #c70039, #1279e8 85%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 40px;
}


@media (min-width: 1000px) {
    #image {
        transform: scale(0.45);
    }

    .image-container {
        margin: -100px;
    }

    .head {
        padding-top: 0;
    }
}


@media (min-height: 700px) and (max-height: 1499px){
    .image-container {
        padding-top: 0;
    }

    .head {
        padding-top: 20vh;
        font-size: 10vw;
    }
    
    #image{
        transform: scale(1);
    }
}

@media (min-height: 1500px) {
    .image-container {
        padding-top: 55px;
    }

    .head {
        padding-top: 25vh;
        font-size: 11vw;
    }
    
    #image{
        transform: scale(1.2);
    }
}

@media (max-width: 480px) {
    .image-container {
        padding-top: 10px;
    }

    .head {
        padding-top: 25vh;
        font-size: 9vw;
    }
    
    #image{
        transform: scale(1.3);
    }
}