body, html {
    background-color: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.image-container {
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    margin: 0;
}

.head {
    color: white;
    text-align: center;
    padding-top: 17vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
      background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(85%, #1279e8));
    background: -webkit-linear-gradient(left, #c70039, #1279e8 85%);
    background: -o-linear-gradient(left, #c70039, #1279e8 85%);
    background: linear-gradient(to right, #c70039, #1279e8 85%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 40px;
}

@media (min-height: 700px) and (max-height: 1499px){
    .image-container {
        padding-top: 135px;
    }

    .head {
        padding-top: 30vh;
        font-size: 11vw;
    }
    
    #image{
        transform: scale(2);
    }
}

@media (min-height: 1500px) {
    .image-container {
        padding-top: 190px;
    }

    .head {
        padding-top: 30vh;
        font-size: 11vw;
    }
    
    #image{
        transform: scale(2.4);
    }
}

@media (max-width: 480px) {
    .image-container {
        padding-top: 6vh;
    }

    .head {
        padding-top: 25vh;
        font-size: 9vw;
    }
    
    #image{
        transform: scale(1.5);
    }
}