/* html {
  height: 100%;
  background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 90%);
  overflow: hidden;
} */

@keyframes gradientBG {
  0% {
    background-position: 0% 25%;
  }

  50% {
    background-position: 25% 50%;
  }

  100% {
    background-position: 0% 20%;
  }
}


html { 
  overflow-x: hidden; 
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #1d032b, #100122, #010126, #100122, #1d032b);
  background-size: 800% 800%;
  animation: gradientBG 9s cubic-bezier(.65, .05, .36, 1) infinite;
}

.header {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 65px;
  letter-spacing: 7px;
  margin-top: 30px;
}

p {
  color: #e5e5e5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: 0;
  text-align: justify;
  font-weight: 400;
}

.link {
  color: #e5e5e5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-decoration: none;
}

.line {
  border: 0;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(90%, #ff5733));
  background: -webkit-linear-gradient(left, #c70039, #ff5733 90%);
  background: -o-linear-gradient(left, #c70039, #ff5733 90%);
  background: linear-gradient(to right, #c70039, #ff5733 90%);
  border-radius: 5px;
  margin-top: 90px;
  margin-bottom: 25px;
}

.head-small {
  background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(5%, #ff5733));
  background: -webkit-linear-gradient(left, #c70039, #ff5733 5%);
  background: -o-linear-gradient(left, #c70039, #ff5733 5%);
  background: linear-gradient(to right, #c70039, #ff5733 5%);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 7px;
  font-size: 30px;
  margin-top: 0px;
}


.lower-body {
  background: linear-gradient(#020111, #040117, #010126, #040117, #020111);
  padding-top: 30px;
  padding-bottom: 50px;
  background-size: 800% 800%;
}



/* COMPATIBILITY */
@media (max-width: 641px){
  .header {
    background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(80%, #ff5733));
    background: -webkit-linear-gradient(left, #c70039, #ff5733 80%);
    background: -o-linear-gradient(left, #c70039, #ff5733 80%);
    background: linear-gradient(to right, #c70039, #ff5733 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 75px;
    padding-bottom: 35px;
    padding-top: 0px;
    text-align: center;
  }

  p {
    font-size: 19px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .link {
    font-size: 19px;
  }

  .line {
    margin-left: 18%;
    margin-right: 18%;
  }

  .head-small {
    padding-left: 40px;
  }

  .header-note {
    background: -webkit-gradient(linear, left top, right top, from(#a5002f), color-stop(80%, #b92200));
    background: -webkit-linear-gradient(left, #a5002f, #b92200 80%);
    background: -o-linear-gradient(left, #a5002f, #b92200 80%);
    background: linear-gradient(to right, #a5002f, #b92200 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 400;
  }
}


@media (min-width: 1021px) {
  p {
    padding-left: 160px;
    padding-right: 220px;
  }

  .line {
    margin-left: 150px;
    margin-right: 70%;
  }

  .head-small {
    padding-left: 160px;
  }
}

@media (max-width: 1020px) and (min-width: 642px) {
  p {
    padding-left: 60px;
    padding-right: 90px;
  }

  .line {
    margin-left: 55px;
    margin-right: 70%;
  }

  .head-small {
    padding-left: 60px;
  }
}

@media (min-width: 642px) {
  .header {
    background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(40%, #ff5733));
    background: -webkit-linear-gradient(left, #c70039, #ff5733 40%);
    background: -o-linear-gradient(left, #c70039, #ff5733 40%);
    background: linear-gradient(to right, #c70039, #ff5733 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font-size: 100px;
    padding-left: 40px;
    padding-top: 100px;
    padding-bottom: 200px;

  }
}
