/* html {
  height: 100%;
  background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 90%);
  overflow: hidden;
} */

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 50% 100%;
  }

  100% {
    background-position: 0% 50%;
  }
}


html { 
  overflow-x: hidden; 
}

body {
  margin: 0;
}


.head-head {
  background: linear-gradient(to bottom right,
    #101160 0%,
    #101060 7.4%,
    #131060 14.5%,
    #17105f 21.2%,
    #1c105e 27.8%,
    #23105d 34.1%,
    #29105c 40.4%,
    #30105b 46.6%,
    #37105a 52.7%,
    #3d1059 58.9%,
    #431059 65.2%,
    #481058 71.6%,
    #4d1057 78.3%,
    #501056 85.2%,
    #521056 92.4%,
    #531056 100%);

  background: -webkit-linear-gradient(to bottom right,
    #101160 0%,
    #101060 7.4%,
    #131060 14.5%,
    #17105f 21.2%,
    #1c105e 27.8%,
    #23105d 34.1%,
    #29105c 40.4%,
    #30105b 46.6%,
    #37105a 52.7%,
    #3d1059 58.9%,
    #431059 65.2%,
    #481058 71.6%,
    #4d1057 78.3%,
    #501056 85.2%,
    #521056 92.4%,
    #531056 100%);

  background: -o-linear-gradient(to bottom right,
    #101160 0%,
    #101060 7.4%,
    #131060 14.5%,
    #17105f 21.2%,
    #1c105e 27.8%,
    #23105d 34.1%,
    #29105c 40.4%,
    #30105b 46.6%,z
    #37105a 52.7%,
    #3d1059 58.9%,
    #431059 65.2%,
    #481058 71.6%,
    #4d1057 78.3%,
    #501056 85.2%,
    #521056 92.4%,
    #531056 100%);
    
  background-size: 250% 250%;
  -webkit-background-size: 250% 250%;
  -moz-background-size: 250% 250%;
  -o-background-size: 250% 250%;
  animation: gradientBG 7s cubic-bezier(.55, .01, .43, .99) infinite;
  padding-bottom: 5px;
  background-repeat: no-repeat;
}

.header {
  font-family: 'monument', sans-serif;
  font-weight: 300;
  letter-spacing: 6px;
  margin-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.header-note {
  background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(40%, #ff5733));
  background: -webkit-linear-gradient(left, #c70039, #ff5733 40%);
  background: -o-linear-gradient(left, #c70039, #ff5733 40%);
  background: linear-gradient(to right, #c70039, #ff5733 40%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  font-size: 90px;
  font-family: 'lato';
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 10px 200px 40px;
}

p {
  color: #ffffffd1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 19px;
  margin: 0;
  text-align: justify;
}

.link {
  color: #e5e5e5;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

.line {
  border: 0;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(90%, #ff5733));
  background: -webkit-linear-gradient(left, #c70039, #ff5733 90%);
  background: -o-linear-gradient(left, #c70039, #ff5733 90%);
  background: linear-gradient(to right, #c70039, #ff5733 90%);
  border-radius: 5px;
  margin-top: 90px;
}

.line-first {
  margin-top: 10px;
}

.head-small {
  background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(30%, #ff5733));
  background: -webkit-linear-gradient(left, #c70039, #ff5733 30%);
  background: -o-linear-gradient(left, #c70039, #ff5733 30%);
  background: linear-gradient(to right, #c70039, #ff5733 30%);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 7px;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.head-small-desc {
  background: #887f73;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 21px;
  margin-top: 0px;
  margin-bottom: 25px;
  text-decoration: none;
  -webkit-transition: background .3s linear;
  -moz-transition: background .3s linear;
  -ms-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.head-small-desc a {
  text-decoration: none;
}

.head-small-desc:hover {
  background: #ff5733;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }


.lower-body {
  background: -webkit-gradient(linear, #07061e, #090524, #010126, #040117, #020111);
  background: -webkit-linear-gradient(#07061e, #090524, #010126, #040117, #020111);
  background: -o-linear-gradient(#07061e, #090524, #010126, #040117, #020111);
  background: linear-gradient(#07061e, #090524, #010126, #040117, #020111);
  padding-top: 30px;
  padding-bottom: 4vw;
  background-size: 400% 400%;
}

.line-low {
  border: 0;
  height: 7px;
  background: -webkit-gradient(linear, left top, right top, from(#880027), color-stop(90%, #962d15));
  background: -webkit-linear-gradient(left, #880027, #962d15 90%);
  background: -o-linear-gradient(left, #880027, #962d15 90%);
  background: linear-gradient(to right, #880027, #962d15 90%);
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 60px;
  margin-bottom: 0px;
}

.banner {
  background-image: url('some.png');
  height: 20vw;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



/* COMPATIBILITY */
@media (max-width: 641px) {
  .header {
    background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(80%, #ff5733));
    background: -webkit-linear-gradient(left, #c70039, #ff5733 80%);
    background: -o-linear-gradient(left, #c70039, #ff5733 80%);
    background: linear-gradient(to right, #c70039, #ff5733 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 75px;
    padding-bottom: 35px;
    padding-top: 30px;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }

  .header-note {
    background: #979797;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 400;
    padding-left: 4%;
    padding-right: 4%;
    line-height: none;
    letter-spacing: 3.5px;
    text-align: center;
    padding-bottom: 50px;
    text-transform: lowercase;
  }

  p {
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 26px;
  }

  .link {
    font-size: 19px;
  }

  .line {
    margin-left: 38px;
    margin-right: 40%;
  }

  .head-small {
    padding-left: 40px;
  }

  .head-small-desc {
    padding-left: 40px;
  }

  .banner {
    height: 49vw;
    background-size: 170%;
    background-image: url('some2.png');
  }

  .lower-body {
    padding-bottom: 6vw;
  }
}

@media (min-width: 642px) {
  .header {
    background: -webkit-gradient(linear, left top, right top, from(#c70039), color-stop(40%, #ff5733));
    background: -webkit-linear-gradient(left, #c70039, #ff5733 40%);
    background: -o-linear-gradient(left, #c70039, #ff5733 40%);
    background: linear-gradient(to right, #c70039, #ff5733 40%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font-size: 105px;
    padding-left: 40px;
    line-height: 96px;
  }
}

@media (min-width: 1021px) {
  p {
    padding-left: 13vw;
    padding-right: 18vw;
    line-height: 31px;
  }

  .line {
    margin-left: 13vw;
    margin-right: 70%;
  }

  .head-small {
    padding-left: 13vw;
  }

  .head-small-desc {
    padding-left: 13vw;
  }

  .header {
    padding-top: 8vw;
  }

  .lower-body {
    padding-bottom: 4vw;
  }
}

@media (max-width: 1020px) and (min-width: 642px) {
  p {
    padding-left: 60px;
    padding-right: 90px;
    line-height: 29px;
  }

  .line {
    margin-left: 58px;
    margin-right: 70%;
  }

  .head-small {
    padding-left: 60px;
  }

  .head-small-desc {
    padding-left: 60px;
  }

  .header {
    font-size: 95px;
    padding-top: 17vw;
  }

  .header-note {
    font-size: 85px;
  }

  .banner {
    height: 28vw;
    background-size: 115%;
  }
}

@media (max-width: 420px) {
  p {
    padding-left: 21px;
    padding-right: 21px;
  }

  .line {
    margin-left: 21px;
    margin-right: 26%;
  }

  .head-small {
    padding-left: 21px;
  }

  .head-small-desc {
    padding-left: 21px;
  }
}

@media (min-width:750px) {
  .header-note {
    margin-right: 14vw;
  }  
}

@font-face {
  font-family: 'monument';
  src: url('webfontkit-fonts/monument-nrxzj-webfont.woff2') format('woff2'),
    url('webfontkit-fonts/monument-nrxzj-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}







/* 
.test {
  display: inline-block;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
} */
/* 
                <div>
                    <a class="button link" href="#popup1">stuff</a>
                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <h2>THIS IS THE INNER TITLE</h2>
                            <a class="close" href="#">&times;</a>
                            <div class="content">This is the popup info</div>
                        </div>
                    </div>
                </div> */

/* https: //codepen.io/imprakash/pen/GgNMXO */